html,body{
	height: 100%;
}

#main{
	padding-top: 30px;
}

#canvas{
	position: relative;
}

#sol{
	position: absolute;
	left: 60px;
	top: 18px;
}

#nota{
	position: absolute;
	left: 0px;
	top: 0px;
}

.unselectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
}

#borrar{
	position: absolute;
	right: 50px;
	top: 17px;
}

.note{
	height: 55px;
	opacity: 0.4;
	padding: 6px;
	border: 1px solid #fff;
	margin-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.note:hover{
	border-radius: 4px;
	border: 1px solid #999;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.non-opacity{
	opacity: 1;
}

.notas{
	text-align: center;
}